{erl_opts, [debug_info,
            {src_dirs, ["client", "compat", "core", "network", "server"]},
            {platform_define, "(linux|solaris|freebsd|darwin)", 'HAVE_EXPAT'},
            {platform_define, "(linux|solaris|freebsd|darwin)", 'HAVE_LIBXML2'},
            {platform_define, "(linux|solaris|freebsd|darwin)", 'HAVE_ZLIB'},
            {platform_define, "(linux|solaris|freebsd|darwin)", 'HAVE_OPENSSL'}
           ]}.

{pre_hooks,
 [{compile, "./compile_hook.sh"}]}.

{port_envs,
 [{"CFLAGS", "$CFLAGS -I/usr/include/libxml2"},
  {"LDFLAGS", "$LDFLAGS -module -avoid-version -lei_st -lz -lssl -lxml2 -lexpat"}]}.

{so_specs,
 [{"priv/lib/exmpp_xml_libxml2.so",
   ["c_src/exmpp_driver.o", "c_src/exmpp_xml.o", "c_src/exmpp_xml_libxml2.o"]}
  ,{"priv/lib/exmpp_xml_expat.so",
    ["c_src/exmpp_driver.o", "c_src/exmpp_xml.o", "c_src/exmpp_xml_expat.o"]}
  ,{"priv/lib/exmpp_stringprep.so",
    ["c_src/exmpp_driver.o", "c_src/exmpp_stringprep.o"]}
  ,{"priv/lib/exmpp_zlib.so",
    ["c_src/exmpp_driver.o", "c_src/exmpp_compress_zlib.o"]}
  ,{"priv/lib/exmpp_openssl.so",
    ["c_src/exmpp_driver.o", "c_src/exmpp_tls.o", "c_src/exmpp_tls_openssl.o"]}
  ]}.

{edoc_opts, [{def, [{vsn, "0.9.4-HEAD"}]}, {packages, false}]}.
